<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Vue.js App</title>
    <link href="main.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <h1>My Vue.js</h1>
      <h2>Model</h2>
      <p>({{ message.length }}) {{ message }}</p>
      <input v-model="message">
      <h2>Style</h2>
      <input type="text" v-bind:value="message" v-bind:style="style">
      <h2>Loop</h2>
      <ol>
        <li v-for="(item, key, index) in spamList" v-bind:key="item.id">
          {{ item.id }}, {{ item.s }}, {{ key }}
          <span v-if="key == 0">first</span>
        </li>
      </ol>
      <h3>json</h3>
      <ul>
        <li v-for="(item, key, index) in aList" v-bind:key="item.id">
          {{ item.id }}, {{ item.s }}, {{ key }}
          <span v-if="key == 0">first</span>
        </li>
      </ul>
      <h2>Transition</h2>
      <button v-on:click="handleClick">Click</button>
      <transition>
      <span v-if="show">{{ message }} {{ counter }}</span>
      </transition>
      <h2>SVG</h2>
      <input type="range" min="0" max="100" v-model="radius"><br>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <circle cx="100" cy="75" v-bind:r="radius" fill="lightpink" />
      </svg>
      <h2>Show</h2>
      <div v-if="show">v-if</div>
      <div v-show="show">v-show</div>
      <template v-if="show">
        template
      </template>
      <div v-if="message == 'Spam!'" key="content-visibule">
        Spam!
      </div>
      <div v-else key="content-visibule">
        → Spam!
      </div>
      <hr>
      <h2>Data</h2>
      <pre>{{ $data }}</pre>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/dist/lodash.min.js"></script> -->
    <script src="http://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
